<%- include('../includes/head') %>
  <link rel="stylesheet" href="/css/forms.css" />
  </head>
  <body>
    <%- include('../includes/header') %>
    <main>
      <div class="form-control">
        <h1 class="form-heading"><%- editing ? 'Edit a Product' : 'Add a Product' %></h1>
        <form action="/admin/<%- editing ? 'edit-product' : 'add-product' %>" method="POST">
          <label class="form-label" for="title">Title</label>
          <input
            class="form-input"
            type="text"
            name="title"
            id="title"
            value="<%- editing ? product.title : '' %>"
          />
          <label class="form-label" for="quantity">Quantity</label>
          <input
            class="form-input"
            type="number"
            name="quantity"
            id="quantity"
            value="<%- editing ? product.quantity : '' %>"
          />
          <label class="form-label" for="price">Price</label>
          <input
            class="form-input"
            type="number"
            name="price"
            id="price"
            value="<%- editing ? product.price : '' %>"
          />
          <label class="form-label" for="image">Image URL</label>
          <input
            class="form-input"
            type="url"
            name="image"
            id="image"
            value="<%- editing ? product.image : '' %>"
          />
          <label class="form-label" for="description">Description</label>
          <textarea
            class="form-input"
            type="url"
            name="description"
            id="description"
            rows="5"
          ><%- editing ? product.description : '' %></textarea>
          <% if (editing) { %>
            <input type="hidden" value="<%= product._id %>" name="productId">
          <% } %>
          <button class="form-action" type="submit"><%- editing ? 'Update Product' : 'Add Product' %></button>
        </form>
      </div>
    </main>
<%- include('../includes/close') %>
