<%- include('../includes/head') %>
  <link rel="stylesheet" href="/css/products.css">
  </head>
  <body>
    <%- include('../includes/header') %>
    <main>
      <% if (products.length>0) { %>
        <div class="product">
          <% for( let product of products ) { %>
            <div class="product-item">
              <a href="/products/<%= product._id %>">
                <div>
                  <img src="<%= product.image %>" alt="<%= product.title %>" width="100" height="100">
                </div>
                <h2 class="product-title"> <%= product.title %> <span class="product-quantity"> x<%= product.quantity %> </span> </h2>
                <p class="product-price">Rs. <%= product.price %>/-</p>
                <p class="product-description"><%= product.description %></p>
                <%- include('../includes/add-to-cart', {product: product}) %>
              </a>
            </div>
          <% } %>
        </div>
      <% } else { %>
        <h3 style="text-align: center">No products found!</h3>
      <% } %>
    </main>
<%- include('../includes/close') %>
